.imageSearch {
	width: 100%;
	text-align: center;
	margin-bottom: 3rem;
	position: relative;
}

.imageSearch__form input {
	margin: 0 auto;
	background-color: transparent;
	border: transparent;
	border-bottom: solid 2px #000000;
	padding-bottom: 8px;
	width: 25%;
	font-weight: 200;
	letter-spacing: 2px;
	font-size: 16px;
	color: #fff;
	margin-right: 10px;
}

.imageSearch__form input:focus {
	outline: none;
}

.imageSearch__form button {
	cursor: pointer;
	border: 0;
	background: transparent;
	padding: 7.5px;
	padding-left: 15px;
	padding-right: 15px;
	border: solid 2px #ebe3e3;
	color: #fff;
	outline: none;
}
.imageSearch__form button:hover {
	background-color: white;
	transition: 0.65s;
	color: black;
}
